
.Results {
  height: 100vh;

  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px 50px;
    gap: 20px;
    max-width: 50%;
    margin: 0 auto;

    .heading {
      font-family: "Inter";
      font-weight: bolder;
      background: linear-gradient(90deg, #5770ec 0%, #08bafe 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-transform: uppercase;
    }

    .result-type {
      font-family: "Inter";
      font-weight: bolder;
      background: linear-gradient(90deg, #5770ec 0%, #08bafe 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-transform: uppercase;
    }

    .type-description {
      font-family: "Inter";

      p {
        text-align: justify;
      }
    }
  }
}
