
.TestResults {
  .heading {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 900;
    font-family: "Inter";
    color: #f35f7d;
    text-transform: uppercase;

    h1 {
      text-align: center;
    }
  }

  .results-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 10px;
    align-items: center;
  }
  .input-item {
    flex-basis: calc(50% - 10px);
    margin-bottom: 10px;
  }
  .input-label {
    display: block;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 5px;
  }
  input, textarea {
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 100%;
  }

  textarea {
    width: 500px;
    height: 150px;
    resize: none;
  }


  .button-container {
    gap: 20px;
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }


}
